config/nifi/SIGECA_Central.json
{"flowContents":{"identifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521","instanceIdentifier":"eed61ce1-018f-1000-f268-4dd553354529","name":"SIGECA Central","comments":"","position":{"x":1240.0,"y":400.0},"processGroups":[{"identifier":"639dbda2-53cb-3094-8e77-2584b72bff61","instanceIdentifier":"f1d9bf21-018f-1000-f6a3-ddd6544a6056","name":"SIGECA Central Upload Facilities","comments":"","position":{"x":1240.0,"y":288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0d876693-96ec-36c1-b739-9c74fac06556","instanceIdentifier":"f32f585d-018f-1000-013c-43936c032bb2","name":"PutSQL","comments":"","position":{"x":1352.0,"y":400.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"d4a69cdf-94d2-3bdf-8ffa-134cf276c85a","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"639dbda2-53cb-3094-8e77-2584b72bff61"},{"identifier":"fc3219a9-9b67-3486-bcdd-5061268b917b","instanceIdentifier":"f328cbd1-018f-1000-0a16-1656e9e8299c","name":"SQL Escape","comments":"","position":{"x":1352.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Regular Expression":"(')","Replacement Value":"''","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"100 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"639dbda2-53cb-3094-8e77-2584b72bff61"},{"identifier":"08f9191a-c193-32ce-9679-bfb8ffa707ef","instanceIdentifier":"f325d7aa-018f-1000-7727-755b6477bcad","name":"Convert To Procedure Call","comments":"","position":{"x":1352.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"call ms.synchronize_facilities('$1'::json);","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"100 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"639dbda2-53cb-3094-8e77-2584b72bff61"}],"inputPorts":[{"identifier":"9ebebd66-543b-35db-b60c-6ae6d6fe1ef2","instanceIdentifier":"f1d9f49a-018f-1000-9e45-6a481ca54a0f","name":"Input Facilities Json","position":{"x":1408.0,"y":-144.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"639dbda2-53cb-3094-8e77-2584b72bff61"}],"outputPorts":[],"connections":[{"identifier":"ed019a23-c1df-3923-99b3-07cb17df6280","instanceIdentifier":"f32a02b8-018f-1000-49c1-a08d1704c9d2","name":"","source":{"id":"fc3219a9-9b67-3486-bcdd-5061268b917b","type":"PROCESSOR","groupId":"639dbda2-53cb-3094-8e77-2584b72bff61","name":"SQL Escape","comments":"","instanceIdentifier":"f328cbd1-018f-1000-0a16-1656e9e8299c"},"destination":{"id":"08f9191a-c193-32ce-9679-bfb8ffa707ef","type":"PROCESSOR","groupId":"639dbda2-53cb-3094-8e77-2584b72bff61","name":"Convert To Procedure Call","comments":"","instanceIdentifier":"f325d7aa-018f-1000-7727-755b6477bcad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"639dbda2-53cb-3094-8e77-2584b72bff61"},{"identifier":"e28cc2a4-160f-3360-adb7-070ec19f8dd5","instanceIdentifier":"f3298a3f-018f-1000-e6d7-e9cd5ad1ec2d","name":"","source":{"id":"9ebebd66-543b-35db-b60c-6ae6d6fe1ef2","type":"INPUT_PORT","groupId":"639dbda2-53cb-3094-8e77-2584b72bff61","name":"Input Facilities Json","instanceIdentifier":"f1d9f49a-018f-1000-9e45-6a481ca54a0f"},"destination":{"id":"fc3219a9-9b67-3486-bcdd-5061268b917b","type":"PROCESSOR","groupId":"639dbda2-53cb-3094-8e77-2584b72bff61","name":"SQL Escape","comments":"","instanceIdentifier":"f328cbd1-018f-1000-0a16-1656e9e8299c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"639dbda2-53cb-3094-8e77-2584b72bff61"},{"identifier":"7a5fb894-ba1e-3442-be35-4095d0bbf748","instanceIdentifier":"f3300b18-018f-1000-d21f-76ad6c95728f","name":"","source":{"id":"08f9191a-c193-32ce-9679-bfb8ffa707ef","type":"PROCESSOR","groupId":"639dbda2-53cb-3094-8e77-2584b72bff61","name":"Convert To Procedure Call","comments":"","instanceIdentifier":"f325d7aa-018f-1000-7727-755b6477bcad"},"destination":{"id":"0d876693-96ec-36c1-b739-9c74fac06556","type":"PROCESSOR","groupId":"639dbda2-53cb-3094-8e77-2584b72bff61","name":"PutSQL","comments":"","instanceIdentifier":"f32f585d-018f-1000-013c-43936c032bb2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"639dbda2-53cb-3094-8e77-2584b72bff61"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"},{"identifier":"3c997a5e-ecd8-3473-add5-9548fe71de83","instanceIdentifier":"6298930b-2add-33d0-56b7-4e4722bcd5a6","name":"Mapa Sanitario Fetch Facilities","comments":"","position":{"x":1240.0,"y":8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"12636dd3-78a7-398d-ad50-a33beac73faa","instanceIdentifier":"2a7a3075-9544-321c-e0cd-e445d0a03661","name":"Fetch Facilities Exception Logger","comments":"","position":{"x":680.0,"y":56.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"log-message":"Mapa Sanitario Facility Fetch request failed: ${invokehttp.java.exception.class} ${invokehttp.java.exception.message}","log-level":"error","log-prefix":"[SIGECA]"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"f4ff13a1-c627-3ee2-bbc8-d714979fc3a1","instanceIdentifier":"b15d107b-ed3f-3180-61e8-736f25e1feb4","name":"Token Extraction Error Logger","comments":"","position":{"x":680.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"log-message":"Extracting token failed","log-level":"error","log-prefix":"[SIGECA]"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"5e9afe22-22b2-3aaa-9bee-5831ba4ed7cb","instanceIdentifier":"9e3d6ec6-f2d5-3e95-604e-6ce264f00bcf","name":"Fetch Facilities Failed Logger","comments":"","position":{"x":1888.0,"y":48.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"log-message":"Mapa Sanitario Facility Fetch failed: ${invokehttp.status.code} ${invokehttp.response.body}","log-level":"error","log-prefix":"[SIGECA]"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"f930790f-bd9c-3b4b-90dd-5778d1420c1f","instanceIdentifier":"f0174f83-095b-39bb-1948-a4de2c14526a","name":"Set Header Attributes","comments":"","position":{"x":1296.0,"y":-144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M3"},"properties":{"Authorization":"Bearer ${token}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"b82f65fe-5844-342f-a1b6-b933e968a2e5","instanceIdentifier":"4e4ba922-3147-3f5f-6d0e-cbbec2153be6","name":"Fetch Facilities","comments":"","position":{"x":1296.0,"y":48.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://${MAPA_SANITARIO_FQDN}/api/unidade","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":"(Authorization)","Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"9f861807-71bf-314d-b3c7-276bc589266e","instanceIdentifier":"c055082c-0807-3a3b-3c9c-1d807bee1227","name":"Extract Token From JSON","comments":"","position":{"x":1296.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","token":"$.token"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"token":{"name":"token","displayName":"token","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"bf53235e-d2df-3035-9fee-82f71c3966d4","instanceIdentifier":"19ba03ea-64bb-3710-dc29-015786889c5f","name":"Fetch Facilities Successful Logger","comments":"","position":{"x":1296.0,"y":240.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"log-message":"Mapa Sanitario Fetch Facilities Successful","log-level":"info","log-prefix":"[SIGECA]"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"}],"inputPorts":[{"identifier":"2ca5cfed-dc50-356e-bba1-f389996f1bfb","instanceIdentifier":"8717a650-aae0-3fea-0724-3417f972beb8","name":"Input Token JSON","comments":"","position":{"x":1352.0,"y":-448.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"}],"outputPorts":[{"identifier":"fd8d98fa-9b34-396f-b04a-bfbaf1cb7c5c","instanceIdentifier":"37201919-7698-353d-3ca0-6fcecdac2319","name":"Output Facilities JSON","comments":"","position":{"x":1352.0,"y":440.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"}],"connections":[{"identifier":"adc51985-9ed9-3028-96fe-c447577ec808","instanceIdentifier":"620a5ba6-c3f9-3082-17d2-7a7966c96cb8","name":"","source":{"id":"bf53235e-d2df-3035-9fee-82f71c3966d4","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities Successful Logger","comments":"","instanceIdentifier":"19ba03ea-64bb-3710-dc29-015786889c5f"},"destination":{"id":"fd8d98fa-9b34-396f-b04a-bfbaf1cb7c5c","type":"OUTPUT_PORT","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Output Facilities JSON","comments":"","instanceIdentifier":"37201919-7698-353d-3ca0-6fcecdac2319"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"6eeebe92-4a48-30f0-927c-940962aa5cb6","instanceIdentifier":"c36fb7f9-b1cd-3786-a121-32b3bf9caeef","name":"","source":{"id":"b82f65fe-5844-342f-a1b6-b933e968a2e5","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities","comments":"","instanceIdentifier":"4e4ba922-3147-3f5f-6d0e-cbbec2153be6"},"destination":{"id":"12636dd3-78a7-398d-ad50-a33beac73faa","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities Exception Logger","comments":"","instanceIdentifier":"2a7a3075-9544-321c-e0cd-e445d0a03661"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"278f66ad-2f64-3afb-96f0-2da9bd79d252","instanceIdentifier":"b56feaa2-164c-369b-44ac-a378d685461d","name":"","source":{"id":"9f861807-71bf-314d-b3c7-276bc589266e","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Extract Token From JSON","comments":"","instanceIdentifier":"c055082c-0807-3a3b-3c9c-1d807bee1227"},"destination":{"id":"f930790f-bd9c-3b4b-90dd-5778d1420c1f","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Set Header Attributes","comments":"","instanceIdentifier":"f0174f83-095b-39bb-1948-a4de2c14526a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"8baaeb93-23bf-34bd-9d64-4b84c529fe79","instanceIdentifier":"5db931cc-f6e4-3d25-59c0-788d13412ef8","name":"","source":{"id":"f930790f-bd9c-3b4b-90dd-5778d1420c1f","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Set Header Attributes","comments":"","instanceIdentifier":"f0174f83-095b-39bb-1948-a4de2c14526a"},"destination":{"id":"b82f65fe-5844-342f-a1b6-b933e968a2e5","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities","comments":"","instanceIdentifier":"4e4ba922-3147-3f5f-6d0e-cbbec2153be6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"c5d9cb53-286a-3480-8c3a-efb80989827e","instanceIdentifier":"01b1b0bb-0652-3dd5-d4aa-660e894ac824","name":"","source":{"id":"b82f65fe-5844-342f-a1b6-b933e968a2e5","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities","comments":"","instanceIdentifier":"4e4ba922-3147-3f5f-6d0e-cbbec2153be6"},"destination":{"id":"5e9afe22-22b2-3aaa-9bee-5831ba4ed7cb","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities Failed Logger","comments":"","instanceIdentifier":"9e3d6ec6-f2d5-3e95-604e-6ce264f00bcf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"b1725fe2-013c-3a26-9726-4235c580c573","instanceIdentifier":"49d3ad96-f591-3d23-9263-9907de8743da","name":"","source":{"id":"2ca5cfed-dc50-356e-bba1-f389996f1bfb","type":"INPUT_PORT","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Input Token JSON","comments":"","instanceIdentifier":"8717a650-aae0-3fea-0724-3417f972beb8"},"destination":{"id":"9f861807-71bf-314d-b3c7-276bc589266e","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Extract Token From JSON","comments":"","instanceIdentifier":"c055082c-0807-3a3b-3c9c-1d807bee1227"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"7425c9bd-399c-3c17-bed3-b9ed0f0c3c79","instanceIdentifier":"8e3fe1c5-7eae-3679-8dff-a3e2f662e75d","name":"","source":{"id":"b82f65fe-5844-342f-a1b6-b933e968a2e5","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities","comments":"","instanceIdentifier":"4e4ba922-3147-3f5f-6d0e-cbbec2153be6"},"destination":{"id":"bf53235e-d2df-3035-9fee-82f71c3966d4","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Fetch Facilities Successful Logger","comments":"","instanceIdentifier":"19ba03ea-64bb-3710-dc29-015786889c5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"},{"identifier":"ee84c4b5-7e76-37eb-ab18-ff3d9dcdc90b","instanceIdentifier":"d355bb67-43a2-36eb-1f20-927452ba4be4","name":"","source":{"id":"9f861807-71bf-314d-b3c7-276bc589266e","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Extract Token From JSON","comments":"","instanceIdentifier":"c055082c-0807-3a3b-3c9c-1d807bee1227"},"destination":{"id":"f4ff13a1-c627-3ee2-bbc8-d714979fc3a1","type":"PROCESSOR","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Token Extraction Error Logger","comments":"","instanceIdentifier":"b15d107b-ed3f-3180-61e8-736f25e1feb4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3c997a5e-ecd8-3473-add5-9548fe71de83"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"},{"identifier":"212614a2-00c8-3849-b172-1828b7b1cd47","instanceIdentifier":"e82953a1-2e1a-3197-41c9-0a3b0d6bd665","name":"Mapa Sanitario Login","comments":"","position":{"x":1240.0,"y":-272.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"74107b3e-4f80-3b31-9027-fabb5ca72b45","instanceIdentifier":"e7746b26-7f5f-3291-80c3-60d2d9e26504","name":"Login Request","comments":"","position":{"x":1000.0,"y":24.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://${MAPA_SANITARIO_FQDN}/api/login_check","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"},{"identifier":"62d37adc-0544-3479-a358-5a14dedf37ab","instanceIdentifier":"fa42f83b-a6db-3b1a-9735-a4576262fe64","name":"Login Exception Logger","comments":"","position":{"x":392.0,"y":16.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"log-message":"Mapa Sanitario Login request failed: ${invokehttp.java.exception.class} ${invokehttp.java.exception.message}","log-level":"error","log-prefix":"[SIGECA]"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"},{"identifier":"23f2614f-1fa8-3322-83a9-aa540154144c","instanceIdentifier":"16ed9f0d-7757-30f4-fb8a-d9ccb5e68d32","name":"Login Successful Logger","comments":"","position":{"x":1008.0,"y":224.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"log-message":"Mapa Sanitario Login Successful","log-level":"info","log-prefix":"[SIGECA]"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"},{"identifier":"59c2c2f7-6b73-3962-8172-a3fc23813765","instanceIdentifier":"dc24bb92-752d-3f7f-5836-ef4618fd9fd6","name":"Login Failed Logger","comments":"","position":{"x":1600.0,"y":24.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"log-message":"Mapa Sanitario Login failed: ${invokehttp.status.code} ${invokehttp.response.body}","log-level":"error","log-prefix":"[SIGECA]"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"}],"inputPorts":[{"identifier":"b1a57083-215a-3db6-b862-5a6d5131bf95","instanceIdentifier":"c06e554c-e9bc-36ce-ca6e-41f5dd6ec6c2","name":"Input Credentials","position":{"x":1056.0,"y":-96.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"}],"outputPorts":[{"identifier":"f730548c-1a1d-30de-9f61-d411e839802a","instanceIdentifier":"7aa00d8c-22b6-34a5-0e07-c8a0aa5cc32c","name":"Output Token JSON","comments":"","position":{"x":1064.0,"y":432.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"}],"connections":[{"identifier":"ae36c76b-41ab-33ae-98db-c12683174b45","instanceIdentifier":"440b495f-30e5-3711-8c88-a7c89d070c32","name":"","source":{"id":"74107b3e-4f80-3b31-9027-fabb5ca72b45","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Request","comments":"","instanceIdentifier":"e7746b26-7f5f-3291-80c3-60d2d9e26504"},"destination":{"id":"23f2614f-1fa8-3322-83a9-aa540154144c","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Successful Logger","comments":"","instanceIdentifier":"16ed9f0d-7757-30f4-fb8a-d9ccb5e68d32"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"},{"identifier":"44f32a29-ed70-3482-b2e7-7775dcb95256","instanceIdentifier":"cb4866c9-365c-335d-64bb-7d89eea9366a","name":"","source":{"id":"74107b3e-4f80-3b31-9027-fabb5ca72b45","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Request","comments":"","instanceIdentifier":"e7746b26-7f5f-3291-80c3-60d2d9e26504"},"destination":{"id":"59c2c2f7-6b73-3962-8172-a3fc23813765","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Failed Logger","comments":"","instanceIdentifier":"dc24bb92-752d-3f7f-5836-ef4618fd9fd6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"},{"identifier":"0928f800-0dd5-3112-8ece-7f40e0d7f159","instanceIdentifier":"dbc2c49e-ee6b-3891-2817-0550c8648f7c","name":"","source":{"id":"b1a57083-215a-3db6-b862-5a6d5131bf95","type":"INPUT_PORT","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Input Credentials","instanceIdentifier":"c06e554c-e9bc-36ce-ca6e-41f5dd6ec6c2"},"destination":{"id":"74107b3e-4f80-3b31-9027-fabb5ca72b45","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Request","comments":"","instanceIdentifier":"e7746b26-7f5f-3291-80c3-60d2d9e26504"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"},{"identifier":"8cc4b59e-4dfa-3c31-9277-44d5ed53823d","instanceIdentifier":"9ea730ae-16ad-3ffa-5d90-c42fd8944355","name":"","source":{"id":"23f2614f-1fa8-3322-83a9-aa540154144c","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Successful Logger","comments":"","instanceIdentifier":"16ed9f0d-7757-30f4-fb8a-d9ccb5e68d32"},"destination":{"id":"f730548c-1a1d-30de-9f61-d411e839802a","type":"OUTPUT_PORT","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Output Token JSON","comments":"","instanceIdentifier":"7aa00d8c-22b6-34a5-0e07-c8a0aa5cc32c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"},{"identifier":"59d9dafc-cf44-354e-a0b4-ea4259887f3f","instanceIdentifier":"ca291bbf-6ff2-390e-0f37-5e51b2456564","name":"","source":{"id":"74107b3e-4f80-3b31-9027-fabb5ca72b45","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Request","comments":"","instanceIdentifier":"e7746b26-7f5f-3291-80c3-60d2d9e26504"},"destination":{"id":"62d37adc-0544-3479-a358-5a14dedf37ab","type":"PROCESSOR","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Login Exception Logger","comments":"","instanceIdentifier":"fa42f83b-a6db-3b1a-9735-a4576262fe64"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"212614a2-00c8-3849-b172-1828b7b1cd47"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"}],"remoteProcessGroups":[],"processors":[{"identifier":"ee093f3d-65e5-3ca5-a048-b730bcc82668","instanceIdentifier":"ae0e6fd5-deb5-3efa-9130-4a2e1b960d9f","name":"Generate Login Credentials","comments":"","position":{"x":1256.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M3"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\"username\": \"${MAPA_SANITARIO_USERNAME}\", \"password\": \"${MAPA_SANITARIO_PASSWORD}\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a46da547-e195-3b7c-b00d-ee0eeff4e9ed","instanceIdentifier":"f1da172f-018f-1000-502a-73ea476c502b","name":"","source":{"id":"fd8d98fa-9b34-396f-b04a-bfbaf1cb7c5c","type":"OUTPUT_PORT","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Output Facilities JSON","comments":"","instanceIdentifier":"37201919-7698-353d-3ca0-6fcecdac2319"},"destination":{"id":"9ebebd66-543b-35db-b60c-6ae6d6fe1ef2","type":"INPUT_PORT","groupId":"639dbda2-53cb-3094-8e77-2584b72bff61","name":"Input Facilities Json","instanceIdentifier":"f1d9f49a-018f-1000-9e45-6a481ca54a0f"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"},{"identifier":"d52b1863-4c8f-3f4e-a97e-409f98c5e2ac","instanceIdentifier":"0f05e99e-e50a-32c8-eeea-2aba4fa136ca","name":"","source":{"id":"f730548c-1a1d-30de-9f61-d411e839802a","type":"OUTPUT_PORT","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Output Token JSON","comments":"","instanceIdentifier":"7aa00d8c-22b6-34a5-0e07-c8a0aa5cc32c"},"destination":{"id":"2ca5cfed-dc50-356e-bba1-f389996f1bfb","type":"INPUT_PORT","groupId":"3c997a5e-ecd8-3473-add5-9548fe71de83","name":"Input Token JSON","comments":"","instanceIdentifier":"8717a650-aae0-3fea-0724-3417f972beb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"},{"identifier":"230fb742-8f69-3bc0-a22e-8c38e990b6b9","instanceIdentifier":"ca0f494d-ccc4-328f-d88c-6a09516f0a04","name":"","source":{"id":"ee093f3d-65e5-3ca5-a048-b730bcc82668","type":"PROCESSOR","groupId":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521","name":"Generate Login Credentials","comments":"","instanceIdentifier":"ae0e6fd5-deb5-3efa-9130-4a2e1b960d9f"},"destination":{"id":"b1a57083-215a-3db6-b862-5a6d5131bf95","type":"INPUT_PORT","groupId":"212614a2-00c8-3849-b172-1828b7b1cd47","name":"Input Credentials","instanceIdentifier":"c06e554c-e9bc-36ce-ca6e-41f5dd6ec6c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d4a69cdf-94d2-3bdf-8ffa-134cf276c85a","instanceIdentifier":"f1e1b27e-018f-1000-bc92-e94d57626ebc","name":"SIGECA Central DB Connection","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M3"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://db:5432/${DB_NAME}","dbcp-time-between-eviction-runs":"-1","Database User":"${DB_USER}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.7.3.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"07d5d021-9d2a-3a3a-921b-e91fdbbd9521"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}